$umani-medical: (
    'link-color': #56c8e9,

    'border-color': #e6eaeb,

    'page-bg-color': #f6f6f6,

    'image-overlay-bg-color': #56c8e9,
    'image-overlay-opacity': 0,

    'image-preload-bg-color':  #f6f6f6,

    'section-bg-color-none':  #f6f6f6,
    'section-bg-color-white':  #ffffff,
    'section-bg-color-primary':  lighten(#56c8e9, 10%),
    'section-bg-color-secondary': lighten(#7c77b7, 10%),

    'header-height-desktop': 80px,
    'header-height-mobile': 80px,
    'header-bg-color': #ffffff,
    'header-shadow': 0 10px 10px 0 rgba(0, 0, 0, 0.1),

    'font-color': #0f122a,
    'font-family': 'Lato, sans-serif',
    'font-weight': 500,
    'font-size': calc(16px + (20 - 16) * ((100vw - 375px) / (2000 - 375))),
    'line-height': 1.75,
    'text-transform': none,

    'heading-font-color': #56c8e9,
    'heading-font-color-primary': #56c8e9,
    'heading-font-color-secondary': #7c77b7,
    'heading-font-family': 'Montserrat, sans-serif',
    'heading-font-weight': 500,
    'heading-font-size-h1': 2.5rem,
    'heading-font-size-h2': 2rem,
    'heading-font-size-h3': 1.75rem,
    'heading-font-size-h4': 1.5rem,
    'heading-font-size-h5': 1.25rem,
    'heading-font-size-h6': 1.25rem,
    'heading-line-height': 1.25,
    'heading-text-transform': none,
    'heading-before-color-primary': #56c8e9,
    'heading-before-color-secondary': #7c77b7,

    'nav-desktop-font-color': #56c8e9,
    'nav-desktop-font-color-hover': #7c77b7,
    'nav-desktop-font-family': 'Lato, sans-serif',
    'nav-desktop-font-weight': 700,
    'nav-desktop-font-size': 0.9rem,
    'nav-desktop-line-height': 1.25,
    'nav-desktop-text-transform': none,
    'nav-desktop-bg-color': #ffffff,
    'nav-desktop-bg-color-hover': lighten(#56c8e9, 35%),

    'nav-desktop-child-font-color': #56c8e9,
    'nav-desktop-child-font-color-hover': #7c77b7,
    'nav-desktop-child-font-family': 'Lato, sans-serif',
    'nav-desktop-child-font-weight': 700,
    'nav-desktop-child-font-size': 0.9rem,
    'nav-desktop-child-line-height': 1.25,
    'nav-desktop-child-text-transform': none,
    'nav-desktop-child-bg-color': #ffffff,
    'nav-desktop-child-bg-color-hover': lighten(#56c8e9, 35%),
    'nav-desktop-child-box-shadow': 5px 10px 10px 0px rgba(0,0,0,0.1),

    'nav-desktop-cta-font-color': #ffffff,
    'nav-desktop-cta-font-color-hover': #ffffff,
    'nav-desktop-cta-font-family': 'Lato, sans-serif',
    'nav-desktop-cta-font-weight': 700,
    'nav-desktop-cta-font-size': 0.9rem,
    'nav-desktop-cta-line-height': 1.25,
    'nav-desktop-cta-text-transform': none,
    'nav-desktop-cta-bg-color': #56c8e9,
    'nav-desktop-cta-bg-color-hover': #7c77b7,
    'nav-desktop-cta-border': 0,
    'nav-desktop-cta-border-radius': 4px,

    'nav-mobile-font-color': #ffffff,
    'nav-mobile-font-color-hover': #ffffff,
    'nav-mobile-font-family': 'Lato, sans-serif',
    'nav-mobile-font-weight': 700,
    'nav-mobile-font-size': 1.1rem,
    'nav-mobile-line-height': 1.25,
    'nav-mobile-text-transform': none,

    'nav-mobile-before-color': #ffffff,

    'nav-mobile-bg-color': #56c8e9,
    'nav-mobile-bg-color-hover': lighten(#56c8e9, 5%),

    'nav-mobile-header-bg-color': darken(#56c8e9, 5%),
    'nav-mobile-header-back-font-color': #ffffff,
    'nav-mobile-header-close-font-color': #ffffff,
    'nav-mobile-header-font-color': #ffffff,
    'nav-mobile-header-font-family': 'Lato, sans-serif',
    'nav-mobile-header-font-weight': 700,
    'nav-mobile-header-font-size': 1.1rem,

    'nav-mobile-locales-font-color': #ffffff,
    'nav-mobile-locales-font-family': 'Lato, sans-serif',
    'nav-mobile-locales-font-weight': 700,
    'nav-mobile-locales-font-size': 0.9rem,
    'nav-mobile-locales-line-height': 1.25,

    'nav-mobile-button-bg-color': #56c8e9,

    'breadcrumbs-font-color': #56c8e9,
    'breadcrumbs-font-color-inactive': #a5a5a5,
    'breadcrumbs-font-family': 'Lato, sans-serif',
    'breadcrumbs-font-weight': 400,
    'breadcrumbs-font-size': 16px,
    'breadcrumbs-line-height': 2,
    'breadcrumbs-text-transform': none,
    'breadcrumbs-bg-color': #ffffff,
    'breadcrumbs-border-color':  #56c8e9,

    'button-primary-font-color': #ffffff,
    'button-primary-font-family': 'Lato, sans-serif',
    'button-primary-font-weight': 700,
    'button-primary-font-size': 0.8rem,
    'button-primary-line-height': 1,
    'button-primary-bg-color': #56c8e9,
    'button-primary-bg-color-hover': darken(#56c8e9, 5%),
    'button-primary-border': 0,
    'button-primary-border-radius': 4px,

    'button-secondary-font-color': #ffffff,
    'button-secondary-font-family': 'Lato, sans-serif',
    'button-secondary-font-weight': 700,
    'button-secondary-font-size': 0.8em,
    'button-secondary-line-height': 1,
    'button-secondary-bg-color': #7c77b7,
    'button-secondary-bg-color-hover': darken(#7c77b7, 5%),
    'button-secondary-border': 0,
    'button-secondary-border-radius': 4px,

    'content-banner-image-heading-font-color': #ffffff,
    'content-banner-image-heading-font-family': 'Lato, sans-serif',
    'content-banner-image-heading-font-weight': 700,
    'content-banner-image-heading-font-size': 2rem,
    'content-banner-image-heading-line-height': 1.5,
    'content-banner-image-heading-text-transform': none,

    'content-banner-image-font-color': #ffffff,
    'content-banner-image-font-family': 'Lato, sans-serif',
    'content-banner-image-font-weight': 700,
    'content-banner-image-font-size': 1rem,
    'content-banner-image-line-height': 1.5,

    'content-banner-image-bg-color': lighten(#56c8e9, 10%),

    'content-image-font-color': #000000,
    'content-image-font-family': 'Lato, sans-serif',
    'content-image-font-weight': 700,
    'content-image-font-size': 1rem,
    'content-image-line-height': 1,

    'content-video-font-color': #000000,
    'content-video-font-family': 'Lato, sans-serif',
    'content-video-font-weight': 700,
    'content-video-font-size': 1rem,
    'content-video-line-height': 1,

    'blocks-heading-font-color': #212121,
    'blocks-heading-font-family': 'Lato, sans-serif',
    'blocks-heading-font-weight': 700,
    'blocks-heading-font-size': 1.4rem,
    'blocks-heading-line-height': 1.25,

    'blocks-date-font-color': #7c77b7,
    'blocks-date-font-family': 'Lato, sans-serif',
    'blocks-date-font-weight': 700,
    'blocks-date-font-size': 0.8rem,
    'blocks-date-line-height': 1.5,

    'blocks-text-font-color': #616161,
    'blocks-text-font-family': 'Lato, sans-serif',
    'blocks-text-font-weight': 500,
    'blocks-text-font-size': 0.9rem,
    'blocks-text-line-height': 1.75,

    'blocks-image-before-color': #56c8e9,
    'blocks-bg-color': #ffffff,
    'blocks-padding': 18px,
    'blocks-border': 0,
    'blocks-border-radius': 8px,
    'blocks-box-shadow': 0px 10px 15px 1px rgba(0, 0, 0, 0.1),

    'swiper-pagination-bg-color': #ffffff,
    'swiper-pagination-bg-color-active': #7c77b7,
    'swiper-navigation-bg-color': #7c77b7,
    'swiper-navigation-after-color': #ffffff,

    'pagination-font-color': #56c8e9,
    'pagination-font-family': 'Lato, sans-serif',
    'pagination-font-weight': 700,
    'pagination-font-size': 1rem,
    'pagination-line-height': 1,
    'pagination-bg-color': #ffffff,
    'pagination-bg-color-hover': lighten(#56c8e9, 35%),
    'pagination-border-color':  #56c8e9,

    'footer-heading-font-color': #7c77b7,
    'footer-heading-font-family': 'Lato, sans-serif',
    'footer-heading-font-weight': 700,
    'footer-heading-font-size': 1rem,
    'footer-heading-line-height': 1.75,
    'footer-heading-text-transform': none,

    'footer-font-color': #f6f6f6,
    'footer-font-family': 'Lato, sans-serif',
    'footer-font-weight': 500,
    'footer-font-size': 0.9rem,
    'footer-line-height': 1.75,
    'footer-text-transform': none,

    'footer-bg-color': #0f122a,

    'cookie-font-color': #616161,
    'cookie-bg-color': #f1f1f1
);
